<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracker@QuarGuard</title>
    <style>
        #map {
            height: 100%;
        }

        body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>

    <div id="map"></div>
    <input type="text" id="map-route" value="<%=JSON.stringify(flightPath)%>" hidden>
    <script>
        let map;
        function initMap() {
            let flightPlanCoordinates = document.getElementById('map-route').value
            flightPlanCoordinates = JSON.parse(flightPlanCoordinates)
            flightPlanCoordinates = flightPlanCoordinates.map(latlng => {
                return {
                    lat: latlng.latitude,
                    lng: latlng.longitude
                }
            })
            console.log(flightPlanCoordinates)
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: flightPlanCoordinates[0].lat, lng: flightPlanCoordinates[0].lng },
                zoom: 16
            });
            let marker = new google.maps.Marker({ position: { lat: flightPlanCoordinates[0].lat, lng: flightPlanCoordinates[0].lng }, map: map })
            let flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            })
            flightPath.setMap(map)
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&callback=initMap"
        async defer></script>
</body>

</html>